#login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
form {
  background-color: #332C39;
  padding: 40px;
  border-radius: 20px;
  width: 280px;
  color: #F1F1F1;
}
.contato{
    color: #F1F1F1;
}
.nome label{
  color: #F1F1F1;
  font-size: 15px;
}
.nome{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}
.nome input{
    margin-top: 10px;
    padding: 0 5px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #E5B8F4;
    outline: none;
    color: #F1F1F1;
}    
.email label{
  color: #F1F1F1;
  font-size: 15px;
}
.email{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}
.email input{
    margin-top: 10px;
    padding: 0 5px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #E5B8F4;
    outline: none;
    color: #F1F1F1;
}    
.assunto label{
  color: #F1F1F1;
  font-size: 15px;
}
.assunto{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}
.assunto select{
    margin-top: 10px;
    padding: 5px 5px;
    background-color: #E5B8F4;
    border: none;
    border-radius: 5px;
    border-bottom: 1px solid #E5B8F4;
    outline: none;
    color: #100F0F;
    overflow: hidden;
}  
.mensagem label{
    color: #F1F1F1;
    font-size: 15px;
}
#mensagem{
    color: #F1F1F1;
    background-color: transparent;
    border: 1px solid #E5B8F4;
    padding: 10px 0;
    z-index: 5;
    height: 100px;
    width: 250px;
}
.footer{
    display: flex;
    flex-direction: column;
}
.enviar{
    width: 100%;
    height: 40px;
    background-color: #E5B8F4;
    border: none;
    color: #100F0F;
    margin: 10px 0;
    border-radius: 10px;
}
.caixa{
    text-align: center;
    align-items: center;
    align-content: center;
}
.obrigado{
    background-color: #332C39;
    color: #F1F1F1;
    border-radius: 20px;
    font-size: 15px;
    padding: 10px;
    margin: 20%;
}